<app-toolbar-navigation></app-toolbar-navigation>

<!-- Loading template -->
<ng-template #loading>
  <div class="flex justify-content-center p-4">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
      strokeWidth="4"></p-progressSpinner>
  </div>
</ng-template>

<div class="m-2">
  <div class="grid">
    <!-- Card de Projetos Ativos -->
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="h-full shadow-2 border-round-lg">
        <ng-template pTemplate="header">
          <div class="bg-primary p-3 flex align-items-center justify-content-between">
            <h3 class="text-white m-0">Projetos Ativos</h3>
            <i class="pi pi-briefcase text-white text-2xl"></i>
          </div>
        </ng-template>

        <div *ngIf="dashboardMetricaGeral; else loading" class="flex flex-column align-items-center">
          <h1 class="text-6xl font-bold text-primary mb-2">{{ dashboardMetricaGeral.projetosEmAndamento }}</h1>
          <p class="text-sm text-500">Projetos em progresso</p>
        </div>

        <ng-template pTemplate="footer">
          <a pButton label="Ver Detalhes" icon="pi pi-arrow-right" class="p-button-text p-button-sm no-underline"
            [routerLink]="['/projetos']" [queryParams]="{ filtro: 'Em Andamento' }"></a>

          <p-button label="Novo Projeto" icon="pi pi-plus-circle" styleClass="p-button-text p-button-sm"
            (click)="handleCreateNovoProjeto()" *appHasRole="['ADMIN']"></p-button>
        </ng-template>
      </p-card>
    </div>

    <!-- Card de Atividades -->
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="h-full shadow-2 border-round-lg">
        <ng-template pTemplate="header">
          <div class="bg-blue-600 p-3 flex align-items-center justify-content-between">
            <h3 class="text-white m-0">Minhas Atividades</h3>
            <i class="pi pi-check-square text-white text-2xl"></i>
          </div>

        </ng-template>
        <div *ngIf="dashboardMetricaGeral; else loading" class="flex flex-column align-items-center">
          <h1 class="text-6xl font-bold text-blue-600 mb-2">{{dashboardMetricaGeral.atividadesPendentes}}</h1>
          <p class="text-sm text-500">Atividades Pendentes</p>
        </div>

        <ng-template pTemplate="footer">
          <a pButton label="Ver Todas" icon="pi pi-arrow-right" class="p-button-text p-button-sm no-underline"
            [routerLink]="['/atividades']" [queryParams]="{ filtro: 'Aberta' }"></a>

          <p-button label="Nova Atividade" icon="pi pi-plus-circle" styleClass="p-button-text p-button-sm"
            (click)="handleCreateNovaAtividade()" *appHasRole="['ADMIN']"></p-button>
        </ng-template>
      </p-card>
    </div>

    <!-- Card de Lançamentos de Horas-->
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="h-full shadow-2 border-round-lg">
        <ng-template pTemplate="header">
          <div class="bg-green-600 p-3 flex align-items-center justify-content-between">
            <h3 class="text-white m-0">Horas Lançadas</h3>
            <i class="pi pi-clock text-white text-2xl"></i>
          </div>
        </ng-template>

        <div *ngIf="dashboardMetricaGeral; else loading" class="flex flex-column align-items-center">
          <div class="flex align-items-end justify-content-center gap-2 mb-1">
            <h1 class="text-6xl font-bold text-green-600 m-0 line-height-1">{{dashboardMetricaGeral.horasLancadasMes}}
            </h1>
            <span class="text-xl font-bold text-green-600 mb-1">h</span>
          </div>
          <p class="text-sm text-500 mb-3">Horas lançadas este mês</p>

          <div class="flex justify-content-center gap-3 w-full">
            <div class="flex flex-column align-items-center">
              <span class="text-lg font-medium text-green-500">{{dashboardMetricaGeral.horasLancadasSemana}}h</span>
              <span class="text-xs text-500">Semana</span>
            </div>
            <div class="flex flex-column align-items-center">
              <span class="text-lg font-medium text-green-500">{{dashboardMetricaGeral.horasLancadasHoje}}h</span>
              <span class="text-xs text-500">Hoje</span>
            </div>
          </div>
        </div>

        <ng-template pTemplate="footer">
          <a pButton label="Histórico" icon="pi pi-history" class="p-button-text p-button-sm no-underline"
            [routerLink]="['/lancamento-horas']"></a>

          <p-button label="Novo Lançamento" icon="pi pi-plus-circle" styleClass="p-button-text p-button-sm"
            (click)="handleCreateNovoLancamento()"></p-button>
        </ng-template>
      </p-card>
    </div>

    <!-- Card de Atividades Atrasadas -->
    <div class="col-12 md:col-6 lg:col-3">
      <p-card styleClass="h-full shadow-2 border-round-lg">
        <ng-template pTemplate="header">
          <div class="bg-red-600 p-3 flex align-items-center justify-content-between">
            <h3 class="text-white m-0">Atividades Atrasadas</h3>
            <i class="pi pi-exclamation-triangle text-white text-2xl"></i>
          </div>
        </ng-template>

        <div *ngIf="dashboardMetricaGeral; else loading" class="flex flex-column align-items-center">
          <h1 class="text-6xl font-bold text-red-600 mb-2">{{dashboardMetricaGeral.atividadesAtrasadas}}</h1>
          <p class="text-sm text-500">Atividades Atrasadas</p>
        </div>

        <ng-template pTemplate="footer">
          <a pButton label="Visualizar" icon="pi pi-arrow-right" class="p-button-text p-button-sm"></a>
        </ng-template>
      </p-card>
    </div>
  </div>

  <!-- Card de Lançamentos Recentes -->
  <div class="grid mt-3">
    <div class="col-12 lg:col-6">
      <p-card header="Últimos Lançamentos" styleClass="shadow-2 border-round-lg">
        <p-table [value]="lancamentosHoras" [rows]="5" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th>
                <div class="flex justify-content-center">Atividade</div>
              </th>
              <th>
                <div class="flex justify-content-center">Projeto</div>
              </th>
              <th>
                <div class="flex justify-content-center">Descrição</div>
              </th>
              <th>
                <div class="flex justify-content-center">Usuário</div>
              </th>
              <th>
                <div class="flex justify-content-center">Data de Início</div>
              </th>
              <th>
                <div class="flex justify-content-center">Data Fim</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamentoHora>
            <tr>
              <td [pTooltip]="lancamentoHora?.atividade.nome" tooltipPosition="top">
                <div class="flex justify-content-center"> {{lancamentoHora?.atividade.nome | shorten: 25}}</div>
              </td>
              <td [pTooltip]="lancamentoHora?.atividade.projeto.nome" tooltipPosition="top">
                <div class="flex justify-content-center"> {{lancamentoHora?.atividade.projeto.nome | shorten: 25}}</div>
              </td>
              <td [pTooltip]="lancamentoHora?.descricao" tooltipPosition="top">
                <div class="flex justify-content-center"> {{lancamentoHora?.descricao | shorten: 25}}</div>
              </td>
              <td>
                <div class="flex justify-content-center"> {{lancamentoHora?.usuario.nome}}</div>
              </td>
              <td>
                <div class="flex justify-content-center">{{lancamentoHora?.dataInicio | date: 'dd/MM/yy HH:mm'}}</div>
              </td>
              <td>
                <div class="flex justify-content-center">{{lancamentoHora?.dataFim | date: 'dd/MM/yy HH:mm'}}</div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>

    <!-- Admin Cards -->
    <div class="col-12 lg:col-6" *appHasRole="['ADMIN']">
      <p-card header="Dashboard" styleClass="shadow-2 border-round-lg">
        <div class="grid">
          <!-- Active Users -->
          <div class="col-6">
            <div *ngIf="dashboardMetricasAdmin; else loading"
              class="flex flex-column align-items-center border-round bg-blue-50 p-3">
              <i class="pi pi-users text-blue-500 text-3xl mb-2"></i>
              <h2 class="text-xl font-bold text-blue-700">{{dashboardMetricasAdmin.usuariosAtivos}}</h2>
              <p class="text-sm text-600 text-center">Usuários Ativos</p>
            </div>
          </div>

          <!-- Média de horas por usuário -->
          <div class="col-6">
            <div *ngIf="dashboardMetricasAdmin; else loading"
              class="flex flex-column align-items-center border-round bg-green-50 p-3">
              <i class="pi pi-chart-bar text-green-500 text-3xl mb-2"></i>
              <h2 class="text-xl font-bold text-green-700">{{dashboardMetricasAdmin.mediaHoraPorUsuario}}</h2>
              <p class="text-sm text-600 text-center">Média Horas Lançadas/Usuário</p>
            </div>
          </div>

          <!-- Status de Projetos -->
          <div class="col-12 mt-3">
            <h4 class="mb-2">Status de Projetos</h4>
            <div class="flex justify-content-between">
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Planejados</span>
                <span class="text-lg font-semibold text-blue-600">{{dashboardMetricasAdmin.projetosPlanejados}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Em Andamento</span>
                <span
                  class="text-lg font-semibold text-orange-600">{{dashboardMetricasAdmin.projetosEmAndamento}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Concluídos</span>
                <span class="text-lg font-semibold text-green-600">{{dashboardMetricasAdmin.projetosConcluidos}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Cancelados</span>
                <span class="text-lg font-semibold text-red-600">{{dashboardMetricasAdmin.projetosConcluidos}}</span>
              </div>
            </div>
          </div>

          <!-- Status de Atividades -->
          <div class="col-12 mt-3">
            <h4 class="mb-2">Status de Atividades</h4>
            <div class="flex justify-content-between">
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Abertas</span>
                <span class="text-lg font-semibold text-blue-600">{{dashboardMetricasAdmin.atividadesAbertas}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Em Andamento</span>
                <span
                  class="text-lg font-semibold text-orange-600">{{dashboardMetricasAdmin.atividadesEmAndamento}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Concluídas</span>
                <span
                  class="text-lg font-semibold text-green-600">{{dashboardMetricasAdmin.atividadesConcluidas}}</span>
              </div>
              <div *ngIf="dashboardMetricasAdmin; else loading" class="flex flex-column align-items-center">
                <span class="text-xs text-600">Pausadas</span>
                <span class="text-lg font-semibold text-red-600">{{dashboardMetricasAdmin.atividadesPausadas}}</span>
              </div>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
