<!-- Formulário de Gerenciamento de Usuários no Projeto -->
<div class="form-container">
  <form>
    <div class="form-body">
      <div class="form-field">
        <label for="projeto">Projeto</label>
        <span class="p-fluid">
          <p-autoComplete id="projeto" [(ngModel)]="projetoSelecionado" [suggestions]="projetosFiltrados"
            [ngModelOptions]="{standalone: true}" (onSelect)="findUsuariosDisponiveis($event)"
            (completeMethod)="filtrarProjeto($event)" field="nome" [forceSelection]="true"
            placeholder="Digite o nome do projeto"
            [disabled]="usuarioProjetoAction.event.action === editUsuarioProjetoEvent"></p-autoComplete>
        </span>
      </div>

      <div class="form-field">
        <label for="usuarioResponsavel">Usuário Responsavél</label>
        <span class="p-fluid">
          <p-autoComplete id="usuarioResponsavel" [(ngModel)]="usuarioResponsavelSelecionado" field="nome"
            [forceSelection]="true" [disabled]="true" [ngModelOptions]="{standalone: true}"></p-autoComplete>
        </span>
      </div>

      <div class="form-field full-width">
        <p-pickList [source]=" usuariosDisponiveis" [target]="usuariosDoProjeto" sourceHeader="Disponíveis"
          targetHeader="Equipe do Projeto" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '20rem' }"
          [targetStyle]="{ height: '20rem' }" filterBy="nome" sourceFilterPlaceholder="Buscar por nome"
          targetFilterPlaceholder="Buscar por nome" breakpoint="1400px" (onMoveToSource)="onMoveToSource($event)"
          (onMoveToTarget)="onMoveToTarget($event)">
          <ng-template let-usuario pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ usuario.nome }}</span>
                <div class="flex align-products-center gap-2">
                  <i class="pi pi-user text-sm"></i>
                  <span>{{ usuario.email }}</span>
                </div>
              </div>
              <p-tag [value]="usuario.perfil" [severity]="getPerfilSeverity(usuario.perfil)"></p-tag>
            </div>
          </ng-template>
        </p-pickList>
      </div>
    </div>
  </form>
</div>
